.ui-download-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.ui-download-layout__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.ui-download-layout__main {
	flex: 1;
	width: 100%;
	box-sizing: border-box;
}
